<div class="" ng-if="$ctrl.post!=null">
  <div class="mb-3">
    <label class="form-label">Title:</label>
    <input type="text" class="form-control" ng-model="$ctrl.post.title" ng-blur="$ctrl.generateSeo()"
      placeholder="Your post title here..." required />
  </div>
  <div class="mb-3">
    <label class="form-label">Friendly Url</label>
    <input type="text" class="form-control" ng-model="$ctrl.post.seoName" placeholder="Your post title here..."
      required />
  </div>
  <div class="mb-3">
    <label class="form-label">Excerpt</label>
    <textarea class="form-control" ng-model="$ctrl.post.excerpt" ng-blur="$ctrl.generateSeo()">
{{$ctrl.post.excerpt}}</textarea>
    <!-- 
          <trumbowyg ng-model="$ctrl.post.excerpt" removeformat-pasted="'true'"
                      placeholder="Start typing some text..."
                      options="{}">
                    </trumbowyg> -->
  </div>
  <div class="mb-3 mb-0">
    <!-- <label class="form-label">Body content</label> -->
    <!-- <textarea class="form-control" ng-model="$ctrl.post.content">{{$ctrl.post.content}}</textarea> -->
    <quill-editor content="$ctrl.post.content"></quill-editor>

<!--     
    <trumbowyg ng-model="$ctrl.post.content" removeformat-pasted="'true'" placeholder="Start typing some text..."
      options="{}">
    </trumbowyg> -->
  </div>
</div>