<tabs-h select-callback="$ctrl.selectPane(pane)">
    <!--<pane-h header="Positions">
        <navs data="$ctrl.page.positionNavs" prefix="'pos'"/>
    </pane-h>-->
    <pane-h header="Parents">
        <div ng-repeat="nav in $ctrl.pages.items | filter:$ctrl.searchText"
            class="container border-left-0 border-right-0 py-1 rounded-0">
            <div class="row">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control mb-4"
                            placeholder="Enter new Title then press enter to search"
                            ng-model="$ctrl.request.keyword" ng-enter="$ctrl.getList()" />
                    </div>
                    <div class="col-3">
                        <input type="number" class="form-control mb-4"
                            ng-model="$ctrl.request.level"/>
                    </div>
                </div>
                <div class="col-7">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" ng-change="$ctrl.selectItem(nav, 'parent')" ng-model="nav.isActived"
                            id="parentNavs_{{$index}}" class="custom-control-input">
                        <label class="custom-control-label align-middle" for="parentNavs_{{$index}}"
                            ng-bind="nav.textDefault">
                    </div>
                    <span class="switch switch-sm">

                        </label>
                    </span>
                </div>

            </div>
        </div>
        <navs data="$ctrl.page.parentNavs" title-field="'page.textDefault'" prefix="$ctrl.prefixParent"></navs>
    </pane-h>
    <pane-h header="Childrens">
        <div ng-repeat="nav in $ctrl.pages.items | filter:$ctrl.searchText"
            class="container border-left-0 border-right-0 py-1 rounded-0">
            <div class="row">
                <div class="col-7">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" ng-change="$ctrl.selectItem(nav, 'child')" ng-model="nav.isActived"
                            id="parentNavs_{{$index}}" class="custom-control-input">
                        <label class="custom-control-label align-middle" for="parentNavs_{{$index}}"
                            ng-bind="nav.textDefault">
                    </div>
                    <span class="switch switch-sm">

                        </label>
                    </span>
                </div>

            </div>
        </div>
        <navs data="$ctrl.page.childNavs" title-field="'page.textDefault'" prefix="$ctrl.prefixChild"></navs>

    </pane-h>
</tabs-h>