<div class="" ng-init="$ctrl.init()">
  <div class="input-group">
    <input id="{{$ctrl.id}}" type="file" class="form-control" accept="{{$ctrl.accept}}"
      ngf-select="$ctrl.selectFile($files)" data-files="file.files" />
    <!-- <label class="input-group-text" for="{{$ctrl.id}}" aria-describedby="{{$ctrl.id}}_addon">Choose file</label> -->
    <button class="btn btn-primary text-white" id="{{$ctrl.id}}_addon" ng-if="$ctrl.file" ng-click="$ctrl.uploadFile($ctrl.file)"
      type="button">Upload</span>
  </div>
</div>
<!-- <div class="input-group input-group-sm col-8">
        <div class="custom-file">
            <input id="{{$ctrl.id}}" type="file" name="pic"  class="custom-file-input position-absolute hidden">
            <label class="custom-file-label" for="{{$ctrl.id}}">Upload file...</label>
            <div class="input-group-append">
                <a class="input-group-text" ng-click="$ctrl.uploadFile()">Submit</a>
            </div>
        </div>
    </div> -->
</div>