<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Add
                </div>
                <h2 class="page-title">
                    Media File
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <!-- <actions on-clear-cache="clearCache()" preview-url="viewmodel.detailsUrl" back-url="referrerUrl">
                    </actions> -->
                    <!-- <span class="d-none d-sm-inline">
                        <a href="#" class="btn btn-white">
                            New view
                        </a>
                    </span> -->
                    <a href="" ng-click="save()" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                            <circle cx="12" cy="14" r="2" />
                            <polyline points="14 4 14 8 8 8 8 4" />
                        </svg>
                        Save
                    </a>
                    <a href="" ng-click="save()" class="btn btn-primary d-sm-none btn-icon"><svg
                            xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                            <circle cx="12" cy="14" r="2" />
                            <polyline points="14 4 14 8 8 8 8 4" />
                        </svg>
                    </a>
                    <!-- <span class="d-none d-sm-inline">
                            <a href="#" class="btn btn-white">
                                New view
                            </a>
                        </span>
                        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                            data-bs-target="#modal-report">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="12" y1="5" x2="12" y2="19" />
                                <line x1="5" y1="12" x2="19" y2="12" />
                            </svg>
                            Create new report
                        </a>
                        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                            data-bs-target="#modal-report" aria-label="Create new report">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="12" y1="5" x2="12" y2="19" />
                                <line x1="5" y1="12" x2="19" y2="12" />
                            </svg>
                        </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body" ng-init="getSingle()">
    <form ng-if="viewmodel" ng-class="{'submitted': submitted}" ng-submit="save()" class="row"
        enctype="multipart/form-data">
        <div class="container-xl">
            <div class="row row-deck row-cards flex-row-reverse" xng-if="isAdmin">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <media-file-upload header="'Media Upload'" type="'Medias'" folder="viewmodel.folder"
                                accept="'audio/*,video/*,image/*'" src-url="viewmodel.fullPath" src="viewmodel.fullPath"
                                media-file="viewmodel.mediaFile" form-file="formFile">
                            </media-file-upload>
                            <h5 class="text-primary" ng-if="progress">Loaded {{progress}}%</h5>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">

                            <div class="mb-3">
                                <label class="form-label">Title</label>
                                <input type="text" class="form-control" ng-model="viewmodel.title" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <!-- <input type="text" class="form-control" ng-model="viewmodel.description"> -->
                                <textarea class="form-control" ng-model="viewmodel.description">
                                        {{viewmodel.description}}</textarea>
                            </div>
                            <!-- TODO: Hoang to review again exising media tag -->
                            <!-- <div class="mb-3">
                                                                    <label class="form-label">Tags</label>
                                        
                                                                    <tags-input ng-model="$ctrl.media.listTag">
                                                                    </tags-input>
                                                                </div> -->
                            <input type="text" class="form-control d-none" ng-model="viewmodel.fullPath" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>