.package-wrapper h2 {
  margin-top: 20px;
}
.tbl-package span {
  margin-left: 0;
  font-size: inherit;
}

.tbl-package .sum-th {
  background-color: #fff;
}

.tbl-package .sum-th span {
  color: #333;
}

.tbl-package th,
.tbl-package td {
  height: 21px;
  padding: 2px 14px;
  font-size: 20px;
}

.tbl-package-slot th {
  height: 0;
  padding: 0 14px;
  font-size: 20px;
}

.tbl-package td {
  height: 21px;
  text-align: center;
}

.tbl-package .no-border-top {
  border-top: none;
}

.tbl-package .no-border-bottom {
  border-bottom: none;
}

.btn-minus,
.btn-plus {
  width: 50px;
  height: 20px;
  font-weight: 700;
  font-size: 1em;
  line-height: 10px;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  margin-right: 5px;
}

.btn-plus {
  color: #333;
  background-color: #fff;
}

.btn-minus-dark {
  border: 1px solid #333;
  color: #333;
  background-color: #fff;
}

.btn-dark {
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
}

.tbl-package-mobile {
  font-size: medium;
}

.tbl-package-mobile th,
.tbl-package-mobile td {
  height: 21px;
  padding: 5px 5px;
  font-size: medium;
}
.tbl-package-mobile th {
  height: 0;
}
.tbl-package-mobile .btn-minus,
.tbl-package-mobile .btn-plus {
  width: 40px;
  height: 16px;
  font-weight: bold;
  font-size: 1em;
  line-height: 5px;
}

.tbl-final {
  width: 100%;
}
.tbl-final .gift-title {
  padding: 5px 10px;
  background-color: #ddd;
  color: #000;
}
.tbl-final .gift-quantity {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
}
