<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
                    aria-label="Show notifications">
                    <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                        <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                    </svg>
                    <span class="badge bg-red"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                    <div class="card">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur
                            exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet
                            debitis et magni maxime necessitatibus ullam.
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
                    aria-label="Show notifications">
                    <span class="flag-icon {{$ctrl.localizeSettings.langIcon}}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a class="dropdown-item" href="" ng-repeat="culture in $ctrl.localizeSettings.cultures"
                        ng-class="{active: culture.specificulture === $ctrl.localizeSettings.lang}"
                        ng-click="$ctrl.changeLang(culture.specificulture, culture.icon);">
                        <span class="flag-icon {{culture.icon}} me-2"></span>
                        <span ng-bind="culture.description"></span>
                    </a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/portal/my-profile" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                    aria-label="Open user menu">
                    <span class="avatar avatar-sm" style="background-image: url({{$ctrl.avatar}})"></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>{{$ctrl.username}}</div>
                        <div class="mt-1 small text-muted">{{$ctrl.userrole}}</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <!-- <a href="#" class="dropdown-item">Set status</a> -->
                    <a href="/portal/my-profile" class="dropdown-item">Profile & account</a>
                    <a href="https://github.com/mixcore/mix.core/discussions" class="dropdown-item"
                        target="_blank">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a href="/portal/app-settings/details" class="dropdown-item"
                        ng-if="isInRole('SuperAdmin')">Settings</a>
                    <a href="#" class="dropdown-item" ng-click="$ctrl.logOut()">Logout</a>
                </div>
            </div>
        </div>

        <main-side-bar ng-if="isInRole('SuperAdmin')" class=""></main-side-bar>
        <main-side-bar-dynamic ng-if="!isInRole('SuperAdmin')" roles="roles" actived-role="roles[0]" class="">
        </main-side-bar-dynamic>
    </div>
</header>
<!-- <header class="navbar navbar-expand-md bd-navbar">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <a class="navbar-brand ml-2" href="/" target="_blank" aria-label="mixcore">
                <div class="mixcore-logo" style="
            width: 120px;
            height: 30px;
            background-color: hsla(
              var(--primary-color-hue, 211),
              var(--primary-color-saturation, 100%),
              var(--primary-color-brightness, 50%),
              1
            );
            -webkit-mask: url(../mix-app/assets/mixcore-logo-green.svg)
              no-repeat 50% 50%;
            mask: url(../mix-app/assets/mixcore-logo-green.svg) no-repeat 50%
              50%;
          "></div>

            </a>

            <button type="button" id="sidebarCollapse" data-bs-toggle="collapse" data-bs-target="#sw-docs-nav"
                aria-controls="sw-docs-nav" class="btn btn-link text-primary" ng-click="$ctrl.toggleSidebar()">
                <span class="mi mi-List"></span>
            </button>
        </h1>
    </div>
    <div class="d-flex pe-2">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" ng-if="$ctrl.localizeSettings">
            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary" href="#" ng-click="$ctrl.generateSitemap()">
                    <i class="mi mi-Relationship"></i>
                </a>
            </li>
            <li class="nav-item me-2 text-center">
                <a class="nav-link p-2 text-primary" href="#" data-bs-toggle="modal"
                    data-bs-target="#dlg-portal-theme-settings">
                    <i class="mi mi-Personalize"></i>
                </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary" href="#" ng-click="$ctrl.addPermission()">
                    <i class="mi mi-Permissions"></i>
                </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary" href="#" ng-click="$ctrl.addBookmark()">
                    <i class="mi mi-FavoriteList"></i>
                </a>
            </li>

            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary" href="#" data-bs-toggle="modal" data-bs-target="#modal-files">
                    <i class="mi mi-Media"></i>
                </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary btn-link" href="https://github.com/mixcore/mix.core/discussions"
                    target="_blank">
                    <i class="mi mi-ChatBubbles"></i>
                </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link p-2 text-primary btn-link" data-bs-toggle="modal" data-bs-target="#dev-helper-modal">
                    <i class="mi mi-Help"></i>
                </a>
            </li>
            <li class="nav-item dropdown me-2">
                <a class="btn nav-link p-2" ng-click="$ctrl.showLanguages = !$ctrl.showLanguages">
                    <span class="flag-icon {{$ctrl.localizeSettings.langIcon}}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" ng-class="{show: $ctrl.showLanguages}">
                    <a class="dropdown-item" href="" ng-repeat="culture in $ctrl.localizeSettings.cultures"
                        ng-class="{active: culture.specificulture === $ctrl.localizeSettings.lang}"
                        ng-click="$ctrl.changeLang(culture.specificulture, culture.icon);">
                        <span class="flag-icon {{culture.icon}}"></span>
                        <span ng-bind="culture.description"></span>
                    </a>
                </div>
            </li>

            <li class="nav-item me-2">
                <a class="nav-link p-2 text-danger" href="#" ng-click="$ctrl.logOut()" rel="noopener"
                    aria-label="Logout">
                    <i class="mi mi-PowerButton"></i>
                </a>
            </li>
        </ul>

        <a href="/portal/my-profile">
            <img class="rounded-circle border" alt="200x200" ng-src="{{$ctrl.avatar}}" data-holder-rendered="true"
                width="32" height="32" />
        </a>
    </div>
</header> -->
